
@import url('https://fonts.google.com/specimen/Dancing+Script');


.Fancy-header{
    color: black;
    font-size: 2.5em;
}
header{
    text-align: center; text-decoration: underline; color: whitesmoke;
}
.highlight {
    color:#8f250c ; /* Change to the desired color */
}
span{
    font-family: 'Dancing Script', sans-serif;
}
p{
    text-align: center; font-size: 20px;
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
}
body{

    background-image: url("../IMG/oceanbkground.jpg");
    background-size: cover;
}

section.core {
    background-image: url("../IMG/croppedcanal.jpg");
    ); /* Replace 'background.jpg' with the path to your image */
    background-size: cover; /* Ensures the image covers the entire background */
    -webkit-text-fill-color: #a9d6e5;/* this changes the color of the h3s i put on my HTML and
     the color of the text in the UL and li */
    background-position: center;
}
section.companyVision{
    background-image: url("../IMG/Sectiotwocolors.jpg");
    background-size: cover;
}
section li {
    color: #a9d6e5; /* this changes teh color of the bullets on your li */
}


/*Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active*/
a {
    transition: .5s;
    text-decoration: none;
}
a:hover {
    color: coral;
    font-size: 32px;
}